

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="" role="group" aria-label="Basic example">
                    <button class="btn btn-outline-info btn-sm" id="add_menu">
                        <i class="normal-icon ace-icon fa fa-plus blue bigger-130"></i> 添加根菜单
                    </button>
                    <button class="btn  btn-outline-secondary btn-sm" autocomplete="off" data-loading-text="保存中..." id="save">
                        <i class="normal-icon ace-icon fa fa-save blue bigger-130"></i> 保存
                    </button>
                    <button class="btn btn-outline-secondary btn-sm" id="zedie">
                        <i class="normal-icon ace-icon fa fa-angle-double-up blue bigger-130"></i> 折叠
                    </button>
                    <button class="btn btn-outline-secondary btn-sm" id="zankai">
                        <i class="normal-icon ace-icon fa fa-angle-double-down blue bigger-130"></i> 展开
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dd dd-draghandle dd-menu">
                            <ol class="dd-list">
                                {{foreach($list as $v)}}
                                <li class="dd-item dd2-item" data-id="{{$v['id']}}">
                                    <div class="dd-handle dd2-handle">
                                        <i class="normal-icon ace-icon {{$v['icon_class']}} blue bigger-130"></i>
                                        <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                    </div>
                                    <div class="dd2-content">
                                        <span class="tt">{{$v['title']}}</span>
                                        <div class="pull-right action-buttons">
                                            <label class="inline" title="菜单开关控制">
                                                <input {{echo $v["status"]==1?"checked='checked'":""}} type="checkbox" class="ace ace-switch ace-switch-3">
                                                <span class="lbl middle"></span>
                                            </label>
                                            <a class="blue add_menu_nood" href="javascript:;" title="添加子节点">
                                                <i class="ace-icon fa fa-plus bigger-130"></i>
                                            </a>
                                            <a class="blue edit" href="javascript:;" title="编辑">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red trash" href="javascript:;" title="删除">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>
                                    </div>
                                    {{if(!empty($v['child']))}}
                                    <ol class="dd-list">
                                        {{foreach($v['child'] as $_v)}}

                                        <li class="dd-item dd2-item" data-id="{{$_v['id']}}">
                                            <div class="dd-handle dd2-handle">
                                                <i class="normal-icon ace-icon fa fa-angle-right red bigger-130"></i>
                                                <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                            </div>
                                            <div class="dd2-content">
                                                <span class="tt">{{$_v['title']}}</span>
                                                <div class="pull-right action-buttons">
                                                    <label class="inline" title="菜单开关控制">
                                                        <input {{echo $_v["status"]==1?"checked='checked'":""}} type="checkbox" class="ace ace-switch ace-switch-3">
                                                        <span class="lbl middle"></span>
                                                    </label>

                                                    <a class="blue add_menu_nood" href="javascript:;" title="添加子节点">
                                                        <i class="ace-icon fa fa-plus bigger-130"></i>
                                                    </a>

                                                    <a class="blue edit" href="javascript:;" title="编辑">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>

                                                    <a class="red trash" href="javascript:;" title="删除">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {{if(!empty($_v['child']))}}
                                            <ol class="dd-list">
                                                {{foreach($_v['child'] as $__v)}}

                                                <li class="dd-item dd2-item" data-id="{{$__v['id']}}">
                                                    <div class="dd-handle dd2-handle">
                                                        <i class="normal-icon ace-icon fa fa-ellipsis-h bigger-130"></i>
                                                        <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                                    </div>
                                                    <div class="dd2-content">
                                                        <span class="tt">{{$__v['title']}}</span>
                                                        <div class="pull-right action-buttons">

                                                            <label class="inline" title="菜单开关控制">
                                                                <input {{echo $__v["status"]==1?"checked='checked'":""}} type="checkbox" class="ace ace-switch ace-switch-3">
                                                                <span class="lbl middle"></span>
                                                            </label>
                                                            <a class="blue edit" href="javascript:;" title="编辑">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>

                                                            <a class="red trash" href="javascript:;" title="删除">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>

                                                {{/foreach}}
                                            </ol>
                                            {{/if}}
                                        </li>

                                        {{/foreach}}
                                    </ol>
                                    {{/if}}

                                </li>
                                {{/foreach}}


                            </ol>
                        </div>
                    </div>

                </div><!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h5><i class="ace-icon fa fa-recycle bigger-130"></i> 回收站</h5>
            </div>
            <div class="card-body">
                <div class="col-sm-12">

                    <div class="dd dd-draghandle">
                        <ol class="dd-list">
                            {{foreach($del_list as $v)}}
                            <li class="dd-item dd2-item" data-id="{{$v['id']}}">
                                <div class="dd-handle dd2-handle">
                                    <i class="normal-icon ace-icon fa fa-trash-o blue bigger-130"></i>
                                    <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                </div>
                                <div class="dd2-content">
                                    {{$v['title']}}
                                    <div class="pull-right action-buttons">
                                        <label class="inline" title="菜单开关控制">
                                            <input {{echo $v["status"]==1?"checked='checked'":""}} type="checkbox" class="ace ace-switch ace-switch-3">
                                            <span class="lbl middle"></span>
                                        </label>
                                        <a class="blue edit" href="javascript:;" title="编辑">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red retweet" href="javascript:;" title="恢复">
                                            <i class="ace-icon fa fa-retweet bigger-130"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {{/foreach}}


                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加菜单</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <form class="" id="menu_add_form">
                        <input type="hidden" name="pid" value="0">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">菜单名</label>
                            <div class="col-sm-5">
                                <input type="text" name="title" class="form-control"  placeholder="菜单名字">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">跳转URL</label>
                            <div class="col-sm-5">
                                <input type="text" name="url" class="form-control" id="add_label_id_menu_url" placeholder="Controller/action">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">ICON样式</label>
                            <div class="col-sm-5">
                                <input type="text" name="icon_class" class="form-control" placeholder="fa fa-user">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  id="menu_add_form_btn" class="btn btn-primary btn-round btn-sm">添加</button>
                <button type="button" class="btn btn-secondary btn-round btn-sm" data-dismiss="modal">取消</button>

            </div>
        </div>
    </div>
</div>
<!-- edit menu Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改菜单名和URL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <form class="" id="menu_edit_form">
                        <input type="hidden" name="id" id="id" value="0" >
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">菜单名</label>
                            <div class="col-sm-5">
                                <input type="text" name="title" class="form-control" id="label_id_menu" placeholder="菜单名字">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">跳转URL</label>
                            <div class="col-sm-5">
                                <input type="text" name="url" class="form-control" id="label_id_menu_url" placeholder="Controller/action">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">标题样式</label>
                            <div class="col-sm-5">
                                <input type="text" name="icon_class" class="form-control" placeholder="Controller/action">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  id="menu_edit_form_btn" class="btn btn-primary btn-round">保存</button>
                <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">取消</button>

            </div>
        </div>
    </div>
</div>
<!-- page specific plugin scripts -->
<block name="content">
<script src="/assets/js/jquery.nestable.min.js"></script>
<script>
$(function($){
    $(".dd").nestable("collapseAll");
    $("#zedie").on("click",function (){
        $(".dd").nestable("collapseAll");
    });
    $("#zankai").on("click",function (){
        $(".dd").nestable("expandAll");
    });
    $(".dd-handle a").on("mousedown", function(e){
        e.stopPropagation();
    });
    $("#save").on("click",function () {
        var data=$(".dd-menu").nestable("serialize");
        var $btn = $(this).html('<i class="normal-icon ace-icon fa fa-save blue bigger-130"></i> 保存中...');
        // business logic...

        $.ajax({
            type:"post",
            url:"/admin/menu_order",
            data:{data:JSON.stringify(data)},
            success:function (data) {
                $btn.html('<i class="normal-icon ace-icon fa fa-save blue bigger-130"></i> 保存');
                alertify.success("排序保存成功")
            }
        })

    });
    $('.ace-switch-3').on('click', function(){
        var b = $(this).prop('checked');
        var id=$(this).parents('.dd-item').attr('data-id');
        $.ajax({
            type:"post",
            url:"/admin/menu_edit",
            data:{id:id,'status':b?'1':'2'},
            success:function (data) {}
        })
    });
    $('#menu_edit_form_btn').on('click', function(){
        $.ajax({
            type:"post",
            url:"/admin/menu_edit",
            data:$("#menu_edit_form").serialize(),
            success:function (data) {
                if(data.code==1){
                    $("li[data-id='"+data.data.id+"']").find(".tt").eq(0).text(data.data.title);
                    alertify.success("修改成功");
                }
            }
        })
    });
    $('#add_menu').on('click',function () {
        $('#addModal').find('input[name="pid"]').val("0");
        $('#addModal').find('input[name="title"]').val("");
        $('#addModal').find('input[name="url"]').val("");
        $('#addModal').find('input[name="icon_class"]').val("");
        $('#addModal').modal('toggle');
    });
    $('#menu_add_form_btn').on('click',function () {
        var pid = $('#addModal').find('input[name="pid"]').val();
        var title = $('#addModal').find('input[name="title"]').val();
        var url = $('#addModal').find('input[name="url"]').val();
        if(!title){
            alertify.error("请输入菜单标题");
            return ;
        }
        if(!url){
            alertify.error("请输入菜单url");
            return ;
        }
        $.ajax({
            type:"post",
            url:"/admin/menu_add",
            data:$('#menu_add_form').serialize(),
            success:function (data) {
                if(data.code==1){
                    alertify.success("添加成功");
                }else{
                    alertify.error("添加失败");
                }
            }
        })
    });

    $(".add_menu_nood").on('click',function () {
        $('#addModal').modal('toggle');
        var id=$(this).parents('.dd-item').attr('data-id');
        var pid = $('#addModal').find('input[name="pid"]').val(id);
        $('#addModal').find('input[name="title"]').val("");
        $('#addModal').find('input[name="url"]').val("");
    });

    $('.edit').on('click', function(){
        var b = $(this).prop('checked');
        var id=$(this).parents('.dd-item').attr('data-id');
        $.ajax({
            type:"post",
            url:"/admin/menu_info",
            data:{id:id},
            success:function (data) {
                if(data.code==1){
                    $('#editModal').modal('toggle');
                    $('#editModal').find('#id').val(id);
                    $('#editModal').find('#label_id_menu').val(data.data.title);
                    $('#editModal').find('#label_id_menu_url').val(data.data.url);
                    $('#editModal').find('input[name="icon_class"]').val(data.data.icon_class);
                }else{

                }
            }
        })


    });
    $('.trash').on('click', function(){
        var o = $(this).parents('.dd-item');
        alertify.confirm("操作提示","确定要删除吗？",function () {
            var id=o.attr('data-id');
            if(id){
                $.ajax({
                    type:"post",
                    url:"/admin/menu_edit?active=del",
                    data:{id:id,'is_del':1},
                    success:function (data) {
                        if(data.code==1){
                            o[0].remove();
                            alertify.success('删除成功')
                        }else{
                            alertify.success('删除失败['+data.code+']');
                        }
                    }
                })
            }
        },function () {}).set('labels', {ok:'确认', cancel:'取消'});

    });
    $('.retweet').on('click', function(){
        var o = $(this).parents('.dd-item');
        alertify.confirm("操作提示","确定要恢复吗？恢复后可删除！",function () {
            var id=o.attr('data-id');
            if(id){
                $.ajax({
                    type:"post",
                    url:"/admin/menu_edit?active=del",
                    data:{id:id,'is_del':0},
                    success:function (data) {
                        if(data.code==1){
                            o[0].remove();
                            alertify.success('恢复成功');

                        }else{
                            alertify.success('恢复失败['+data.code+']');
                        }
                    }
                })
            }
        },function () {}).set('labels', {ok:'确认', cancel:'取消'});

    });



});

</script>
</block>