
<div class="row">

    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                新增商场活动
            </div>
            <div class="card-body">
                <div>
                    <form action="" id="form1">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">所属项目</label>

                        <div class="col-lg-3">
                            <select class="form-control" name="project_id">
                                <option value="0">请选择一个项目</option>
                                {{foreach($project as $k=>$v)}}

                                <option value="{{$v['id']}}">{{$v["name"]}}</option>
                                {{/foreach}}
                            </select>
                            <small class="form-text text-danger">*必选，一个活动只能对应在一个项目上</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动名称</label>
                        <div class="col-lg-5">
                            <input type="text" name="name" placeholder="请填写活动名称" class="form-control" value=""  autocomplete="off"  maxlength="200">
                            <small class="form-text text-danger">*必填</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动背景图片</label>
                        <div class="col-lg-5">
                            <input type="hidden" name="banner" value="">
                            <button id="upload-banner" style="width: auto" class="btn btn-outline-info">
                                <span class="fa fa-cloud-upload"></span>
                                上传图片
                            </button>

                            <p id="progress" style="display: none">
                                <span class="spinner-border text-primary" style="vertical-align:text-top;width: 1rem;height: 1rem;border-width: 2px" role="status"></span>
                                <span class="progress-num text-primary"></span>
                            </p>


                            <div class="form-text" style="width: 410px;height: 164px">
                                <img id="img" style="min-width: 410px;min-height: 164px;width: auto;height: 100%;border: 1px solid #ccc;padding: 2px" src="" alt="">
                            </div>
                            <small class="form-text text-danger">注：图片推荐大小 710 * 228</small>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动类型</label>

                        <div class="col-sm-5 py-2">
                            {{foreach($online as $k=>$v)}}
                            {{$c=$k==1?"checked":""}}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label"><input class="form-check-input" type="radio" {{$c}} name="online" value="{{$k}}">{{$v}}</label>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2" id="changeIntergral">消耗幸运值</label>
                        <div class="col-lg-5">
                            <input type="text" name="need_integral" placeholder="请输入消耗幸运值" class="form-control" value=""  autocomplete="off"  maxlength="200">
                            <small class="form-text text-danger">*参与活动每次需要消耗积分数量</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动展示时间</label>

                        <div class="col-sm-5">
                            <input type="text" id="showtime" name="show_time" placeholder="年-月-日 时:分:秒 - 年-月-日 时:分:秒" class="form-control" value=""  autocomplete="off"  maxlength="200">
                            <small class="form-text text-muted">活动在客户端活动页面显示的时间范围</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动进行时间</label>

                        <div class="col-sm-5">
                            <input type="text" id="runtime" name="run_time" placeholder="年-月-日 时:分:秒 - 年-月-日 时:分:秒" class="form-control" value=""  autocomplete="off"  maxlength="200">
                            <small class="form-text text-muted">用户可以参与活动的时间时间范围</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">活动状态</label>

                        <div class="col-sm-5 py-2">
                            {{foreach($state as $k=>$v)}}
                            {{$c=$k==1?"checked":""}}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label"><input class="form-check-input" type="radio" {{$c}} name="state" value="{{$k}}">{{$v}}</label>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">是否置顶</label>

                        <div class="col-sm-5 py-2">
                            {{foreach($top as $k=>$v)}}
                            {{$c=$k==0?"checked":""}}
                            <div class="form-check form-check-inline">
                                <label class="form-check-label"><input class="form-check-input" type="radio" {{$c}} name="top" value="{{$k}}">{{$v}}</label>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-form-label col-lg-2" id="changeContent">领奖须知</label>

                        <div class="col-sm-8">
                            <textarea id="content" name="content"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">排序值</label>
                        <div class="col-lg-2">
                            <input type="number" name="sort" placeholder="" class="form-control" value="{{$info['sort']??'0'}}" autocomplete="off"  maxlength="200">
                            <small class="form-text text-muted">数值越大越靠前</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2"></label>
                        <div class="col-lg-8 py-2">
                            <button  class="btn btn-primary" id="submit" type="button" >新增活动</button>
                            <button class="btn btn-secondary" type="button" onclick="window.history.back();"><< 返回</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<block name="content">
    <script src="/admin/plugins/ueditor/ueditor.config.js"></script>
    <script src="/admin/plugins/ueditor/ueditor.all.js"></script>
    <script src="/admin/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/admin/plugins/plupload/plupload.min.js"></script>
    <script src="/admin/plugins/plupload/upload.js"></script>
    <script src="/admin/plugins/laydate/laydate.js"></script>
    <script>
        window.onbeforeunload=function(e){
            // var e = window.event||e;
            // e.returnValue=("确定离开当前页面吗？");
        }
        $(function(){

            //日期时间范围
            laydate.render({
                elem: '#showtime'
                ,type: 'datetime'
                ,range: true
            });
            //日期时间范围
            laydate.render({
                elem: '#runtime'
                ,type: 'datetime'
                ,range: true
            });

            $('input[name="online"]').on('click',function (){
                if ($(this).val() == 1){
                    $('#changeContent').text("领奖须知")
                    $('#changeIntergral').text("消耗幸运值")
                    $('input[name="need_integral"]').attr('placeholder',"请输入消耗幸运值数量")
                }else{
                    $('#changeContent').text("活动介绍")
                    $('#changeIntergral').text("消耗积分")
                    $('input[name="need_integral"]').attr('placeholder',"请输入消耗积分数量")
                }
            })

            var uploadss = upload({
                id:'upload-banner',
                name:'banner',
                token:'{{$qiniucfg["uptoken"]}}',
                domain:'{{$qiniucfg["domain"]}}/',
                init: {
                    FilesAdded: function(up, files) {
                        console.log(files)
                        ctx = []

                        $('#progress').css('display','inline-block')
                        $('#progress').find(".progress-text").html("已选择 "+files[0].name+",共"+((files[0].size/1024/1024).toFixed(2))+"Mb")
                        $('#progress').find(".progress-num").text("已上传: 0%")
                        $('input[name="banner"]').val("")
                        uploadss.start()
                    },
                }
            });

            var ue = UE.getEditor('content', {
                autoHeight: false,
                initialFrameHeight:300,
                serverUrl:  "/system/auth_upload_qiniu",
                toolbars: [
                    ['undo', 'redo','bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist',  'cleardoc','inserttable','simpleupload','insertimage','fullscreen']
                ]

            });
            $('#submit').on('click',function () {

                $('#submit').text("添加中...")
                if ($('input[name="name"]').val() == "") {
                    alertify.error("请填写活动名称")
                    return
                }
                $.ajax({
                    'type':'post',
                    'url':'/active/add',
                    'data':$('#form1').serialize(),
                    'dataType':'json',
                    'success':function (ret) {
                        if(ret.code == 1){
                            alertify.confirm().setting({
                                'invokeOnCloseOff': false,
                                'labels':{ok:'添加奖品', cancel:'稍后在加'},
                                'title':"操作提示",
                                'message': '添加活动成功，是否添加该活动的奖品？' ,
                                'onok': function(){
                                    $('form')[0].reset()
                                    window.location.href="/active/add_prize/id/"+ret.data.id
                                },
                                'oncancel':function () {
                                    window.history.back()
                                }
                            }).show();

                        }else{
                            alertify.error(ret.code_str);
                        }
                        $('#submit').text("新增活动")
                    },'error':function (err) {
                        console.log(err);
                        $('#submit').text("新增活动")
                    }
                });


            });
        });
    </script>

</block>

