<style type="text/css">
    .rule_check{ border:#ECECEC solid 1px; line-height: 30px;font-size: 14px;margin-bottom: 10px}
    .level_one{ background: #ececec;padding:0 10px;}
    .level_two{ padding:0 10px;color:#444;}
    .level_three{ padding:0 30px;color:#444;}
    .level_three label{ font-weight: normal}
    .level_four{ padding:0 60px;color:#444;}
    .level_four label{  font-weight: normal;font-size: 12px}
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <p class="card-text">当前权限组：【{{$accessInfo['title']}}】</p>
            </div>
            <div class="card-body">
                <form id="form1" method="post">
                    {{foreach ($menu_node as $v)}}
                    <div class="rule_check">
                        <div class="level_one">
                            <label>
                                <input type="checkbox" {{$v['checked']}} value="{{$v['id']}}" name="rule[]">{{$v['title']}}
                            </label>
                        </div>
                        {{foreach ($v['child'] as $child)}}
                        <dl>
                            <dt class="level_two">
                                <label><input type="checkbox" {{$child["checked"]}} value="{{$child['id']}}" name="rule[]">{{$child['title']}}</label>
                            </dt>
                            {{if(!empty($child['child']))}}
                            <dd>
                        <span class="level_four">
                            {{foreach ($child['child'] as $method)}}
                            <label>
                                <input type="checkbox" {{$method["checked"]}} value="{{$method['id']}}" name="rule[]" title="{{echo !empty($method['descript'])?$method['descript']:''}}">{{$method['title']}}
                            </label>&nbsp;&nbsp;
                            {{/foreach}}
                        </span>
                            </dd>
                            {{/if}}


                        </dl>
                        {{/foreach}}
                    </div>
                    {{/foreach}}

                    <div class="form-group row">

                        <div class="col-lg-8 py-2">
                            <input type="hidden" name="qid" value="{{$accessInfo['id']}}">
                            <button class="btn btn-primary" type="button" id="button">
                                <i class="ace-icon fa fa-check bigger-110"></i> 提交保存
                            </button>
                            <button class="btn btn-secondary" type="button" onclick="window.history.back();">
                                << 返回
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<block name="content">
<script>
    $(function(){
        $('#button').on('click',function () {

            if($('input[name="qid"]').val() == ""){
                alertify.error($('input[name="title"]').attr('errmsg'));
                return ;
            }
            $.ajax({
                'type':'post',
                'url':'/auth_group/rule_save',
                'data':$('#form1').serialize(),
                'dataType':'json',
                'success':function (ret) {
                    if(ret.code == 1){
                        alertify.success(ret.code_str);
                    }else{
                        alertify.error(ret.code_str);
                    }
                },'error':function (err) {
                    console.log(err);
                }
            });


        });

        $('.level_one').find('input').click(function (){
            if($(this).prop('checked')){
                $(this).parents('.rule_check').find('input').prop('checked',true);
            }else{
                $(this).parents('.rule_check').find('input').prop('checked',false);
            }
        });
        $('.level_two').find('input').click(function (){
            if($(this).prop('checked')){
                $(this).parents('dl').find('input').prop('checked',true);
            }else{
                $(this).parents('dl').find('input').prop('checked',false);
            }
        });
        $('.level_three').find('input').click(function (){
            if($(this).prop('checked')){
                $(this).parents('dd').find('span input').prop('checked',true);
            }else{
                $(this).parents('dd').find('span input').prop('checked',false);
            }
        });
        $('.level_four').find('input').click(function (){
            if($(this).prop('checked')){
                $(this).parents('dd').find('.level_three input').prop('checked',true);
                $(this).parents('dl').find('.level_two input').prop('checked',true);
                $(this).parents('.rule_check').find('.level_one input').prop('checked',true);
            }
        });
    });

</script>
</block>