
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-header">


                <a class="btn btn-primary" title="添加" href="/auth_group/add">
                    <i class="fa fa-plus bigger-110 blue"></i>
                    添加角色
                </a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0 table-hover" role="grid" aria-describedby="dynamic-table_info">
                        <thead>
                        <th>ID</th>
                        <th class="text-nowrap">权限组名称</th>
                        <th class="text-nowrap">默认URL</th>
                        <th class="text-nowrap">描述</th>
                        <th class="text-nowrap">状态</th>
                        <th class="text-nowrap">授权管理</th>
                        <th class="table-set"></th>
                        </thead>

                        <tbody>


                        {{foreach($list as $v)}}
                        <tr role="row">
                            <td>{{$v['id']}}</td>
                            <td class="text-nowrap">{{$v['title']}}</td>
                            <td class="text-nowrap"><a href="{{echo $v['default_url']?$v['default_url']:"/"}}">{{echo $v['default_url']?$v['default_url']:"/"}}</a></td>
                            <td class="text-nowrap">{{$v['description']}}</td>
                            <td class="text-nowrap">{{$status[$v['status']]}}</td>
                            <td class="text-nowrap">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a  href="/auth_group/access?qid={{$v['id']}}" class="btn btn-info btn-round"><span
                                            class="fa fa-universal-access"></span> 访问授权
                                    </a>
                                    <a  href="/auth_group/user_access?qid={{$v['id']}}" class="btn btn-info btn-round"><span
                                            class="fa fa-user-circle-o"></span> 用户授权
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="/auth_group/edit?id={{$v['id']}}" type="button" class="btn btn-white btn-default btn-xs btn-round"><span class="am-icon-edit"></span>修改/查看</a>

                            </td>
                        </tr>
                        {{/foreach}}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
