<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>提示页面！</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/admin/i/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/admin/i/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/admin/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/admin/css/admin.css">
</head>
<body>
<div class="am-cf admin-main" style="padding-top: 0;">
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">

            <!-- main start -->
            {if(!empty($content))}
                {$content}
            {/if}
            <!-- main start -->
        </div>

        {include 'common/footer_license'}
    </div>
    <!-- content end -->

</div>
{include 'common/footer'}
