
<!-- jQuery -->
<script src="/admin/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap Core JS -->
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.min.js"></script>
<!-- Slimscroll JS -->
<script src="/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom JS -->
<script  src="/admin/js/script.js"></script>
<script src="/admin/js/alertify.min.js"></script>
<script type="text/javascript">
    //override defaults
    alertify.defaults.transition = false;
    alertify.defaults.theme.ok = "btn btn-danger";
    alertify.defaults.theme.cancel = "btn btn-secondary";
    alertify.defaults.theme.input = "form-control";
</script>
<block name="data"></block>
