<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6  am-padding-bottom">

        <div class="am-btn-toolbar am-form-inline">

            <div class="am-btn-group am-btn-group-xs">
                <a href="/project/jifen_rule_add?pid={$pinfo['id']}" type="button"  class="am-btn am-radius am-btn-default">
                    <span class="am-icon-plus"></span> 新增
                </a>
                <button type="button" onclick="window.history.back()"  class="am-btn am-radius am-btn-warning">
                    < 返回
                </button>
            </div>
        </div>
    </div>
</div>
<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form" onsubmit="return false;">
            <table class="am-table am-table-bordered am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th colspan="6">
                        当前业务：
                        <img width="20" src="{$pinfo['icon']}" alt="" align="center">
                        <span style="font-weight: 400;color: red;vertical-align: bottom">{$pinfo['title']}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    </th>
                </tr>
                <tr>
                    <th class="table-title">ID</th>
                    <th class="table-title">总需积分数量</th>
                    <th class="table-title">单次刷量</th>
                    <th class="table-title">使用状态</th>
                    <th class="table-set">管理</th>
                </tr>
                </thead>
                <tbody>
                {foreach($list->items as $v)}
                <tr id="tr-{$v['id']}">
                    <td>{$v['id']}</td>
                    <td>{$v['jifen_num']}</td>
                    <td>{$v['order_num']}({$v['unit']})</td>
                    <td>{echo $v['status']==1?"<span style=\"color:green;\">正在使用</span>":"<span style=\"color:red;\">已停用</span>"}</td>
                    <td>
                        <div class="am-btn-group am-btn-group-xs">
                            <a href='/project/jifen_rule_edit?id={$v['id']}&pid={$v['project_id']}' type="button" class="am-btn am-btn-xs am-radius"><span class="am-icon-edit"></span>修改
                            </a>
                        </div>
                    </td>
                </tr>
                {/foreach}


                </tbody>
            </table>

        </form>
    </div>
    <div class="am-u-sm-12">
        <ul class="am-pagination" style="float: left;margin-right: 10px;line-height: 30px;">
            <li><b>总数：</b>{$list->totalSize}</li>
        </ul>

    </div>

</div>



<script>
    require(['jquery','dialog','amazeui','app','drag','dialog-plus'],function ($,dialog){
        function zalert(msg,$class,$id) {
            $class = $class ?$class : 'warning';
            msg = msg ? msg : '操作有误！';
            var d = dialog({
                id:'id2',
                zIndex:1505,
                quickClose:true,
                content: '<span class="am-icon-btn am-'+$class+' am-icon-'+$class+'"></span>　'+msg,
                onclose:function () {
                    $('#tr-'+$id).remove();
                }
            }).show();

        }
        function zalertCheck(msg,$class,$id) {
            $class = $class ?$class : 'warning';
            msg = msg ? msg : '操作有误！';
            var d = dialog({
                id:'id2',
                //quickClose:true,
                content: '<span class="am-icon-btn am-'+$class+' am-icon-'+$class+'"></span>　'+msg
                ,title:'提示'
                ,width:300
                ,padding:'20px 50px 20px 10px',
                ok:function () {

                    $.ajax({
                        'type':'post',
                        'url':'/link/join_del',
                        'data':{ 'id':$id},
                        'dataType':'json',
                        'success':function (ret) {
                            if(ret.code == 1){
                                zalert(ret.code_str,'icon-check am-success',$id);
                            }else{
                                zalert(ret.code_str,"",$id);
                            }
                        },'error':function (err) {
                            console.log(err);
                        }
                    });
                },
                cancel:function () {

                },okValue: '确定',

                // 取消按钮文本
                cancelValue: '取消',
            }).show();
        }
        $('.del').on('click',function () {

            zalertCheck("确定要删除吗？",'',$(this).attr('data-id'));
        })
    });
</script>