<div class="row">
    <div class="col-xs-12">

        <div class="table-header">
            用户管理中心
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="row">
                    <form action="?" method="get">
                        <div class="space-10"></div>
                        <ul class="nav nav-pills">
                            <li><h5>查询条件:</h5></li>
                            <li>
                                <input type="search" name="id" class="form-control" placeholder="用户ID" aria-controls="dynamic-table" value="{{$_GET['uid']??''}}">
                            </li>
                            <li>
                                <input type="search" name="id" class="form-control" placeholder="动态ID" aria-controls="dynamic-table" value="{{$_GET['id']??''}}">
                            </li>
                            <li>
                                <div class="col-xs-8 col-sm-11">
                                    <div class="input-group">
                                        <input class="form-control date-picker" id="id-date-picker-1" name="create_time" value="{{$_GET['create_time']??''}}" autocomplete="off" placeholder="创建时间" type="text" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon">
										<i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <select class="form-control" name="status">
                                    <option value="-1">
                                        选择审核状态
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </option>
                                    {{foreach($status as $k=>$v)}}
                                    {{$class=$_GET['status']==$k?'selected':''}}
                                    <option {{$class}} value="{{$k}}">类型：{{$v['title']}}</option>
                                    {{/foreach}}
                                </select>
                            </li>
                            <li>
                                <select class="form-control" name="os">
                                    <option value="-1">
                                        选择手机系统
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </option>
                                    {{foreach($os as $k=>$v)}}
                                    {{$class=$_GET['os']==$k?'selected':''}}
                                    <option {{$class}} value="{{$k}}">类型：{{$v}}</option>
                                    {{/foreach}}
                                </select>
                            </li>
                            <li>
                                <select class="form-control" name="did_type">
                                    <option value="0">
                                        选择渠道
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </option>
                                    {{foreach($did_type as $k=>$v)}}
                                    {{$class=$_GET['did_type']==$k?'selected':''}}
                                    <option {{$class}} value="{{$k}}">类型：{{$v}}</option>
                                    {{/foreach}}
                                </select>
                            </li>
                            <li>
                                <select class="form-control" name="did">
                                    <option value="">
                                        选择详细渠道来源
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </option>
                                    <optgroup label="安卓">
                                        {{$did_index=array()}}
                                        {{foreach($ditch_list as $k=>$v)}}
                                        {{$did_index[$v['did']]=$v}}
                                        {{if($v['os']==1)}}
                                        {{$class=$_GET['did']==$v['did']?'selected':''}}
                                        <option {{$class}} value="{{$v['did']}}">渠道：{{$v['d_name']}}</option>
                                        {{/if}}
                                        {{/foreach}}
                                    </optgroup>
                                    <optgroup label="苹果">
                                        {{foreach($ditch_list as $k=>$v)}}
                                        {{if($v['os']==2)}}
                                        {{$class=$_GET['did']==$v['did']?'selected':''}}
                                        <option {{$class}} value="{{$v['did']}}">渠道：{{$v['d_name']}}</option>
                                        {{/if}}
                                        {{/foreach}}
                                    </optgroup>
                                </select>
                            </li>
                        </ul>
                        <div class="space-10"></div>
                        <ul class="nav nav-pills">
                            <li style="margin-left: 64px;">
                                <input type="submit" value="查询" class="btn btn-primary btn-round">
                            </li>
                        </ul>
                    </form>
                </div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
                    <thead>
                    <th class="hidden-480">ID</th>
                    <th>发表用户</th>
                    <th>动态内容</th>
                    <th>动态图片</th>
                    <th class="hidden-480">被举报次数</th>
                    <th class="hidden-480">状态</th>
                    <th>审核人员</th>
                    <th>创建时间</th>
                    <th  class="hidden-480">操作菜单</th>
                    </thead>

                    <tbody>
                    {{foreach($list->items as $v)}}
                    <tr role="row" id="tr-{{$v['id']}}">
                        <td class="hidden-480">{{$v['id']}}</td>
                        <td><a href="/users/list?id={{$v['uid']}}&addtime=" target="_blank" title="查看用户信息">{{$v['name']}}</a></td>
                        <td>{{$v['content']}}</td>
                        <td>
                            {{if(!empty($v['img']))}}
                            {{foreach($v['img'] as $va)}}
                            <img src="{{$va}}" width="100" height="80">
                            {{/foreach}}
                            {{/if}}
                        </td>
                        <td>{{$v['report_num']}}</td>
                        <td data-id="{{$v['id']}}">
                            <span class="{{$status[$v['status']]['color']}}">
                                {{$status[$v['status']]['title']??""}}
                            </span>
                        </td>
                        <td>{{$v['aid']}}</td>
                        <td class="hidden-480">
                            {{echo $v['create_time']?date("Y-m-d H:i",$v['create_time']):"--"}}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white btn-default btn-xs btn-round"><i class="ace-icon glyphicon glyphicon-align-justify"></i>
                                    请选择
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="javascript:;" d="{{$v['id']}}" class="c_status">审核</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/foreach}}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
                            <ul class="pagination">
                                {{$page}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title addtitle">更改用户状态</h4>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <label><input type="radio" name="status" value="1" checked class="radius" placeholder=""/>通过</label>&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="status" value="2" class="radius" placeholder=""/>禁用</label>&nbsp;&nbsp;&nbsp;
                    <input type="hidden" name="id" value="0">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-round btn-sm" data-dismiss="modal">取消</button>
                <button type="button"  id="updata_status" class="btn btn-primary btn-round btn-sm">保存</button>
            </div>
        </div>
    </div>
</div>
<block name="content">
    <script>

        $(function () {

            $(".c_status").on('click',function () {
                $('#statusModal').modal('toggle');
                var id = $(this).attr('d');
                $('#statusModal').find('input[name="id"]').val(id);

            });


            $('#updata_status').on('click',function () {

                var status = $('#statusModal').find('input[name="status"]').val();


                if(!status){
                    alertify.error("请选择状态");
                    return ;
                }

                $.ajax({
                    type:"post",
                    url:"/users/updata_dynamic_status",
                    data:$('#form1').serialize(),
                    success:function (ret) {
                        if(ret.code==1){
                            var div=document.querySelector("td[data-id='"+ret.data.id+"']");
                            if(ret.data.status==1){
                                div.style.color="#69AA46";
                            }else{
                                div.style.color="#DD5A43";
                            }
                            $("td[data-id='"+ret.data.id+"']").html(ret.data.title);
                            alertify.success(ret.code_str);
                        }else{
                            alertify.error(ret.code_str);
                        }
                    }
                })
            });


            $('.date-picker').datepicker({
                language: "zh-CN",
                autoclose: true,
                format: "yyyy-mm-dd",
                todayHighlight: true
            })
        })
    </script>

</block>